<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunser.tool">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="云设"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="云设工具"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="设置"
            >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="设置"
            >
        </activity>
        <activity
            android:name=".NoteAddActivity"
            android:label="新建"
            >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="关于"
            >
        </activity>
        <activity
            android:name=".ModeActivity"
            android:label="关于"
            >
        </activity>
        <activity
            android:name=".ZhiHuActivity"
            android:label="关于"
            >
        </activity>
    </application>

</manifest>